node_modules/
cypress/videos/
cypress/screenshots/
cypress/downloads/
allure-results/
allure-report/
execucoes/*/allure-results/
execucoes/*/allure-report/
execucoes/consolidado/
dist/
.env
.env.*
*.log
.DS_Store
Thumbs.db
